# Telepat.io Docker Compose file
# Author: Andrei Marinescu <andrei@telepat.io>
# Version 0.3.0

rabbitmq:
 image: rabbitmq:3.5.5
 ports:
   - "4369:4369"
   - "5671:5671"
   - "5672:5672"
   - "25672:25672"
elasticsearch:
  image: elasticsearch:1.7.2
  command: elasticsearch -Dscript.groovy.sandbox.enabled=true
  ports: 
    - "9200:9200"
redis:
  image: redis:latest
  ports: 
    - "6379:6379"
